<h1>Edit Landmark:</h2>
<form action="/landmarks/<%= @landmark.id %>" method="POST">
  <label>Name:</label>
  <input type="text" name="landmark[name]" id="name" value="<%= @landmark.name %>">

  <br><br>

  <label> Year Completed:</label>
  <input type="text" name="landmark[year_completed]" id="year_completed" value="<%= @landmark.year_completed %>">

  <br><br>

  <input type="submit" value="Edit Landmark">
</form>
